<h1>Create new company</h1>
<div class="table-responsive">
	<form name="createForm" class="form" novalidate>
	  <div class="form-group row">
	    <div class="col-sm-10">
	    	<input type="hidden" class="form-control" id="company_id" ng-model="company.id" readonly>
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="company_companyName" class="col-sm-2 col-form-label">Company Name</label>
	    <div class="col-sm-10">
	    	<input type="text" class="form-control" id="companyName" placeholder="Type company name here"  ng-model="company.companyName" required>
	   	</div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="company_email" class="col-sm-2 col-form-label">Email</label>
	    <div class="col-sm-10">
	    	<input type="text" class="form-control" id="email" placeholder="Type company email here"  ng-model="company.email" required>
	   	</div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="company_password" class="col-sm-2 col-form-label">Password</label>
	    <div class="col-sm-10">
	    	<input type="password" class="form-control" id="password" placeholder="Type company password here"  ng-model="company.password" required>
	   	</div>
	  </div>
	  
	  
	  <div class="form-group row">
	    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
	    <div class="col-sm-10">
	    	<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password here"  ng-model="confirmPassword" required>
	   	</div>
	  </div>


	  
	  <button ng-click="createCompany()" type="submit" class="btn btn-secondary" style="float:right; cursor:pointer; background-color: #009688">Create company</button>
</form>
</div>


