<h1>Company <em>"{{company.companyName}}"</em></h1>


<div class="update_company" style="text-align:right;">
	<a href="#/update-company?id={{company.id}}" class="fa fa-pencil-square-o button btn btn-secondary">Edit Company</a>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th scope="row">ID</th>
				<td ng-bind="company.id"></td>
			</tr>	
			<tr>	
				<th scope="row">Name</th>
				<td ng-bind="company.companyName"></td>
			</tr>	
			<tr>	
				<th scope="row">Email</th>
				<td ng-bind="company.email"></td>	
			</tr>
		</tbody>
	</table>
</div>


