<h1>List of companies</h1>

<br />

<div style="margin-bottom:20px;">
	<a href="#/create-company" class="fa fa-plus button btn btn-secondary">Create new company</a>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email Address</th>
				<th>Edit</th>
				<th>View</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in companies">
				<td ng-bind="c.id"></td>
				<td ng-bind="c.companyName"></td>
				<td ng-bind="c.email"></td>
				<td><a href="#/update-company?id={{c.id}}" class="fa fa-pencil-square-o button btn btn-secondary">Edit</a></td>
				<td><a href="#/get-company?id={{c.id}}" class="fa fa-eye button btn btn-secondary">View</a></td>
				<td><a href="#/remove-company?id={{c.id}}" class="fa fa-trash button btn btn-secondary">Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>


