<div ng-controller="GetCustomerCtrl">

	<h1>Customer <em>"{{customer.customerName}}"</em></h1>
	<div class="table-responsive">
		<form name="updateForm" class="form" novalidate>
		  <div class="form-group row">
		    <label for="customer_id" class="col-sm-2 col-form-label">ID</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" id="customer_id" placeholder="{{customer.id}}" readonly>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="customer_name" class="col-sm-2 col-form-label">Name</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" id="customerName" placeholder="Type customer name here"  ng-model="customer.customerName" required>
		   	</div>
		  </div>
		  <div class="form-group row">
		    <label for="customer_email" class="col-sm-2 col-form-label">Email</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" id="email" placeholder="Type customer email here"  ng-model="customer.email" required>
		   	</div>
		  </div>
  		  <div class="form-group row">
		    <label for="customer_password" class="col-sm-2 col-form-label">Password</label>
		    <div class="col-sm-10">
		    	<input type="password" class="form-control" id="password" placeholder="Type customer password here"  ng-model="customer.password" required>
		   	</div>
		  </div>
	  <div class="form-group row">
	    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
	    <div class="col-sm-10">
	    	<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password here"  ng-model="confirmPassword" required>
	   	</div>
	  </div>
	   </form>
	  </div>
	  
   	  <div ng-controller="UpdateCustomerCtrl">
	  	<button ng-click="updateCustomer()" type="submit" class="fa fa-floppy-o button btn btn-secondary right">Update customer details</button>	  
	   </div>
	  <div class="clear"></div>
</div>