<div ng-controller="GetCompanyCtrl">

	<h1>Company <em>"{{company.companyName}}"</em></h1>
	<div class="table-responsive">
		<form name="updateForm" class="form" novalidate>
		  <div class="form-group row">
		    <label for="company_id" class="col-sm-2 col-form-label">ID</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" id="company_id" placeholder="{{company.id}}" readonly>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="company_name" class="col-sm-2 col-form-label">Name</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" id="companyName" placeholder="Type company name here"  ng-model="company.companyName" required>
		   	</div>
		  </div>
		  <div class="form-group row">
		    <label for="company_email" class="col-sm-2 col-form-label">Email</label>
		    <div class="col-sm-10">
		    	<input type="text" class="form-control" id="email" placeholder="Type company email here"  ng-model="company.email" required>
		   	</div>
		  </div>
  		  <div class="form-group row">
		    <label for="company_password" class="col-sm-2 col-form-label">Password</label>
		    <div class="col-sm-10">
		    	<input type="password" class="form-control" id="password" placeholder="Type company password here"  ng-model="company.password" required>
		   	</div>
		  </div>
  		  <div class="form-group row">
		    <label for="company_password" class="col-sm-2 col-form-label">Confirm Password</label>
		    <div class="col-sm-10">
		    	<input type="password" class="form-control" id="confirmPassword" placeholder="Type company password here"  ng-model="confirmPassword" required>
		   	</div>
		  </div>
	   </form>
	  </div>
	  
   	  <div ng-controller="UpdateCompanyCtrl">
	  	<button ng-click="updateCompany()" type="submit" class="fa fa-floppy-o button btn btn-secondary right">Update company details</button>	  
	   </div>
	  <div class="clear"></div>
</div>