body {margin-bottom: 120px;}

.right {
	float: right;
	margin-left: 10px;
}

.left {
	float: left;
	margin-right: 10px;
}

.info {
	padding: 20px;
    font-size: 12px;
    background: #f9f8f8;
    margin: 16px;
    border-radius: 10px;
}

.clear {clear: both;}

.button {
	cursor: pointer;
    background-color: #009688;
    border-color: #009688;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 12px;
}

.button:before {
    padding-right: 6px;
    font-family: FontAwesome;
}

.filter {
	float:left; 
	margin-right:10px; 
	width: 23%;
}

table {
	margin-top:20px;
}

#view {
	width:80%; 
	margin: 40px auto;
}

#main_content {
	margin-left:15%;
}

/* Form validation */
.form-control {
	border: 2px solid rgba(0,0,0,.15);
}

.form .ng-invalid.ng-dirty {
	border-color: #FA787E;
	border-size:2px;
}

.form .ng-valid.ng-dirty {
	border-color: #93e100;
}

