<h1>Coupon <em>"{{coupon.title}}"</em></h1>
<div class="coupon_image" style="margin-bottom: 10px;">
	<img ng-src="http://localhost:8080/CouponSystemWeb/{{coupon.image}}"  alt="{{coupon.title}}" />
</div>

<div class="update_coupon" style="text-align:right;">
	<a href="#/update-coupon?id={{coupon.id}}" class="fa fa-pencil-square-o button btn btn-secondary">Edit Coupon</a>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th scope="row">ID</th>
				<td ng-bind="coupon.id"></td>
			</tr>	
			<tr>	
				<th scope="row">Title</th>
				<td ng-bind="coupon.title"></td>
			</tr>	
			<tr>	
				<th scope="row">Message</th>
				<td ng-bind="coupon.message"></td>	
			</tr>
			<tr>	
				<th scope="row">Start Date</th>
				<td ng-bind="coupon.startDate | date:'dd/MM/yyyy'"></td>	
			</tr>
			<tr>	
				<th scope="row">End Date</th>
				<td ng-bind="coupon.endDate | date:'dd/MM/yyyy'"></td>	
			</tr>
			<tr>	
				<th scope="row">Type</th>
				<td ng-bind="coupon.type"></td>	
			</tr>
			<tr>	
				<th scope="row">Coupons left</th>
				<td ng-bind="coupon.amount"></td>	
			</tr>
			<tr>	
				<th scope="row">Price</th>
				<td ng-bind="coupon.price"></td>	
			</tr>
		</tbody>
	</table>
</div>


