<!DOCTYPE html>
<html lang="en" ng-app="companyApp">
  <head>
  	<title>Company Page</title>
  	<script src="https://use.fontawesome.com/f5d7ed6331.js"></script>
  	
  	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/angular-growl.min.css">
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- Scripts -->
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/angular-ui-router.js"></script>	
	<script type="text/javascript" src="../js/angular-cookies.js"></script>
    <script type="text/javascript" src="../js/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="../js/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="../js/dateHelper.js"></script>
    
	<script type="text/javascript" src="../js/company/app.js"></script>
    <script type="text/javascript" src="../js/company/route.config.js"></script>
	<script type="text/javascript" src="../js/angular-growl.min.js"></script>
    <script type="text/javascript" src="../js/company/upload.ctrl.js"></script>
    <script type="text/javascript" src="../js/company/company.srvc.js"></script>
    <script type="text/javascript" src="../js/company/get.all.coupons.ctrl.js"></script>
    <script type="text/javascript" src="../js/company/get.coupon.ctrl.js"></script>
    <script type="text/javascript" src="../js/company/remove.coupon.ctrl.js"></script>
    <script type="text/javascript" src="../js/company/update.coupon.ctrl.js"></script>
    <script type="text/javascript" src="../js/company/create.coupon.ctrl.js"></script>
    <script type="text/javascript" src="../js/company/company.details.ctrl.js"></script>
    <script type="text/javascript" src="../js/login/login.srvc.js"></script>
    <script type="text/javascript" src="../js/login/login.ctrl.js"></script>
    
    <!-- <base href="http://localhost:8080/CouponSystemWeb/" target="_blank"/> -->
  </head>
  <body>
  	<div growl></div>
  	
	<!-- Sidebar -->
	<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
		<h3 class="w3-bar-item">Menu</h3>
	
		<a href="#/get-all-coupons" class="w3-bar-item w3-button">Coupons</a>
		<a href="#/" ng-controller="LoginCtrl" ng-click="logout()" class="w3-bar-item w3-button">Log Out</a>
	</div>
	
	<!-- Page Content -->
	<div id="main_content">
	
		<div ng-controller="CompanyDetailsCtrl" class="w3-container w3-teal">	
		  <h1>Welcome <span ng-bind="companyName"></span></h1>
		</div>
	
		<div growl></div>
		<div ui-view id="view"></div>
	
	</div>
  </body>
</html>
