<h1>List of your coupons</h1>

<form name="allCustomerCouponsForm" class="form" novalidate>
	<div class="filter label">Select type:</div>
	<div class="filter label">Select date:</div>
	<div class="filter label">Select max price:</div>
	<div class="clear"></div>
	<div class="filter">
		<select class="form-control" id="couponTypeFilter" name="couponTypeFilter" ng-model="couponTypeFilter">
		  <option selected disabled>Choose type</option>
		  <option>RESTAURANS</option>
		  <option>ELECTRICY</option>
		  <option>CAMPING</option>
		</select>
	</div>
	<div class="filter">
   		<input type="date" max="2022-12-31"  min="2016-12-31" class="form-control" id="couponDateFiler" placeholder="Select coupon date" ng-model="couponDateFiler">
   	</div>
   	
   	<div class="filter">
   		<input type="number" step="0.01" max="9999"  min="0" class="form-control" id="couponPriceFilter" placeholder="Coupon price" ng-model="couponPriceFilter">
   	</div>
   	
 	<button ng-click="getAllCustomerCoupons()" class="fa fa-list btn btn-secondary button right">Get All</button>
   	<button ng-click="getCustomerCouponListByQuery()" class="fa fa-filter btn btn-secondary button right">Filter</button>
	<div class="clear"></div>
</form>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Description</th>
				<th>Price</th>
				<th>Type</th>
				<th>Exp. date</th>
				<th>View</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in coupons">
				<td ng-bind="c.id"></td>
				<td ng-bind="c.title"></td>
				<td ng-bind="c.message"></td>
				<td ng-bind="c.price"></td>
				<td ng-bind="c.type"></td>
				<td ng-bind="c.endDate"></td>
				<td><a href="#/coupon-details?id={{c.id}}" class="fa fa-eye button btn btn-secondary">View</a></td>
			</tr>
		</tbody>
	</table>
</div>


