<!DOCTYPE html>
<html lang="en" ng-app="loginApp"><html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/angular-growl.min.css">
    
	<!-- Scripts -->
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>	
    <script type="text/javascript" src="js/dateHelper.js"></script>
    <script type="text/javascript" src="js/angular-growl.min.js"></script>
	<script type="text/javascript" src="js/login/app.js"></script>
    <script type="text/javascript" src="js/login/login.srvc.js"></script>
    <script type="text/javascript" src="js/login/login.ctrl.js"></script>

</head>
<body>
<div growl="" class="ng-isolate-scope"><div class="growl-container growl-fixed top-right" ng-class="wrapperClasses()"><!-- ngRepeat: message in growlMessages.directives[referenceId].messages --></div></div>
<div class="w3-container w3-teal">	
		  <h1>Welcome to Coupon System</h1>
		</div>
<div class="info col-sm-4 right">
<p>Use following user details to login:</p>
<ul>
	<li><strong>Admin:</strong><br> User: admin // Password: 1234</li>
	<li><strong>Company:</strong><br> User: Company name 1 // Password: pass1</li>
	<li><strong>Customer:</strong><br> User: Customer name 2 // Password: pass2</li>
</ul>
    </div>
    <div class="login col-sm-7 left">
<h2 style="margin-left:20px;">Login</h2>
<div ng-controller="LoginCtrl" class="table-responsive ng-scope" style="width:70%; margin-left:20px;">
	<form name="loginForm" class="form ng-pristine ng-invalid ng-invalid-required" novalidate="">

	  <div class="form-group row">
	    <label for="username" class="col-sm-2 col-form-label">User Name:</label>
	    <div class="col-sm-10">
	    	<input ng-model="loginData.username" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="username" placeholder="Type username here" required="">
	   	</div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="password" class="col-sm-2 col-form-label">Password:</label>
	    <div class="col-sm-10">
	    	<input ng-model="loginData.password" type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="password" placeholder="Type password here" required="">
	   	</div>
	  </div>
	  
 	  <div class="form-group row">
	    <label for="user_type" class="col-sm-2 col-form-label">User Type:</label>
	    <div class="col-sm-10">
		    <select ng-model="loginData.userType" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="userType" required="">
		        <option value="ADMIN">Administrator</option>
	  			<option value="COMPANY">Company</option>
	  			<option value="CUSTOMER">Customer</option>
		    </select>
		</div>
	  </div>
	  
	  <button ng-click="login()" class="btn btn-secondary" style="float:right; cursor:pointer; background-color: #009688">Login</button>
</form>
        </div>
</div>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


</body>
</html>
